body {
    margin:50px; 
    padding:0px;
    text-align:center;
    align-items:center;
}
label{
    font-size: 16px;
}
#title {
    margin: 10px 0px;
    font-size: 16px;
    padding: 6px;
    width: 20%;
    clear: none;
    border-radius: 2px;
}
#description {
    margin: 10px 0px;
    font-size: 16px;
    padding: 6px;
    width: 20%;
    height: 100px;
    border-radius: 2px;
}
#button_submit {
    padding: 8px;
    background-color: teal;
    color: white;
    border-radius: 10px;
    width: 21%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
button {
font-size: 16px;
}
.card-outside {
    border: 1px dashed black;
    border-radius: 10px;
    margin: 2% 0%;
    padding: 20px;
}
.card-inside {
    border: 1px solid teal;
    border-radius: 10px;
    margin: 0.6%;
    padding: 20px;
    width: 20%;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.card-inside-image{
    border-radius: 10px;
    width: 100%;
}
h3 {
    text-decoration: underline;
    font-weight: bolder;
}
#button {
    background-color: teal;
    color: white;
    padding: 8px;
    background-color: teal;
    color: white;
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
